<!DOCTYPE html>
<html lang="en">

<head>
    <title>Books</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .content {
            height: 200px;
            width: 100%;
            border: 1px solid #747474;
            overflow: auto;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <ul class="nav navbar-nav nav-right">
                <li><a href="/books">Home</a></li>
                <li><a href="/signOut">Logout</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="col-sm-6">
            <h3>{{books.title}}</h3>
            <h3>{{books.id}}</h3>
            <h4>{{author.author}}</h4>
            <div>
                {% for book in current_books %}
                    {% for review in reviews %}
                    {% if review.id == book.id %}
                        <p>{{review.rating}}</a> Stars</p>
                        <p><a href="/user_info/{{ user.id }}">{{review.id}}{{review.users_id.name}}</a> says: {{review.review}}</p>
                        <p>{{review.created_at}}</p>
                    {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-6">
        <form action="/add_review/{{user.id}}/{{books.id}}" method="post">
            {% csrf_token %}
            Review:
            <div class="form-group">
                <textarea class="form-control" rows="5" id="comment" name="review"></textarea>
            </div>
             Rating: <select name="rating">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select> stars.
            <button type="submit" class="btn btn-normal btn-right">Add Book Review</button>
        </form>
        </div>
    </div>
</body>

</html>